.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dateAndTotalPrice {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.num {
    text-align: center;
}