.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 60px;
    margin-top: 40px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
}

.link a {
    text-decoration: none;
    color: #8585AD;
}

.link a:visited {
    color: #8585AD;
}

.textBlock {
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.text_color_active div {
    color:#fff;
}

.linkBlock {
    height: 64px;
    cursor: pointer;
}
