.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textColorActive p {
    color: #0CC;
}

.columns {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 36px;
}